@model WarehouseMgmt.web.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>

<hr />

<form class="form-inline col-lg-12" asp-action="Create">
    <div class="row col-12">

        <div class="col-6">
            <div class="form-group">
                <div class="col-3">
                    <label asp-for="Name" class="control-label float-left">Name</label>
                </div>
                <div class="col-9">
                    <input asp-for="Name" class="form-control mb-2" style="width:100%" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="col-3">
                    <label asp-for="Price" class="control-label float-left">Price</label>
                </div>
                <div class="col-9">
                    <input asp-for="Price" class="form-control mb-2" style="width:100%" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-12">
            <div class="form-group">
                <div class="col-3">
                    <label asp-for="Description" class="control-label float-left">Description</label>
                </div>
                <div class="col-12">
                    <textarea asp-for="Description" class="form-control mb-2" style="width:100%"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-6">
            <div class="form-group">
                <div class="col-3">
                    <label asp-for="Cost" class="control-label float-left">Cost</label>
                </div>
                <div class="col-9">
                    <input asp-for="Cost" class="form-control mb-2" style="width:100%" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">

                <div class="col-3">
                    <label asp-for="Count" class="control-label float-left">Count</label>
                </div>

                <div class="col-9">
                    <input asp-for="Count" class="form-control mb-2" style="width:100%" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-6">
            <div class="form-group">
                <div class="col-3">
                    <label asp-for="ImageURL" class="control-label float-left">Image URL</label>
                </div>
                <div class="col-9">
                    <input asp-for="ImageURL" class="form-control mb-2" style="width:100%" />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>

            </div>

        </div>
    </div>
    <div class="row col-12">
        <div class="col-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <a class="btn btn-outline-warning" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
